@media screen,
print {
    .title {
        Margin-left: 85%;
        font-family: 'Roboto', sans-serif;
    }
    #logo {
        height: 200px;
    }
    #logo-img {
        width: 100px;
        height: 100px;
        margin-left: 25%;
        margin-bottom: -6%
    }
    .tg {
        margin-left: 70%;
        font-family: 'Roboto', sans-serif;
        color: #a6a6a6;
    }
    #pc {
        text-align: center;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(235, 225, 255);
        justify-content: center;
    }
    .flex-container>div {
        background-color: rgb(235, 225, 255);
        margin: 150px;
        flex: 1 1 60px;
    }
    hr {
        color: #7d97a;
        width: 50%;
    }
    .pj {
        color: #808080;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    .pj-img {
        width: 300px;
        height: 300px;
    }
    #fw {
        font-family: 'Roboto', sans-serif;
        margin-left: 45%;
        color: #808080;
    }
    footer {
        text-align: center;
        color: grey;
        background-color: rgb(54, 225, 248);
    }
    /* Media Queries*/
    @media screen and (max-width: 1000px) {
    .tg {
        margin-left: 10%;
    }
}
}
